body {
  background-image: url(https://source.unsplash.com/m_HRfLhgABo);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}


h2 {
	font-weight: 500;
	font-size: 3em;
}

/* For width smaller than 768px: */
#default {
  padding-top: 250px;
  padding-bottom: 130px;
  background: url(https://dl.dropbox.com/s/ly52q8lz2rvyi5l/mediumImage.jpg?dl=0) no-repeat center center fixed;
}
/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body{
    color: black;
    background: black;
  }
  #default {
    padding-top: 300px;
    padding-bottom: 180px;
    background: url(https://dl.dropbox.com/s/ly52q8lz2rvyi5l/mediumImage.jpg?dl=0);
  }
}
/* For width 1024px and larger: */
@media only screen and (min-device-width: 1024px) {
   #default {
      background: url(https://source.unsplash.com/_yBEyYR8wps) no-repeat center center fixed;
      padding-top: 330px;
      padding-bottom: 270px;
      color: #dd0b0b;
    }
}

.content {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

#css {
  height: 200px;
  width: 150px;
}

#js {
  height: 200px;
  width: 200px;
}

#contact {
  background-image: url(https://source.unsplash.com/W06sj2saNvA);
  background-size: cover;
  background-position: center;
  min-height: 30%;
  padding-top: 70px;
}

#port {
  color: white;
}

img {
    margin-top: 10px;
}

